body {
   font-family: "Courier New", Courier, monospace;
}
body p {
    font-size: 24px;
    font-weight: bold;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-container {
    width: 80%;
}
.subheader {
    font-size: 24px;
    color: #818181;
    font-style: italic;
    font-weight: bold;
    font-family: none;
}
.image-samples {
    width: 75%;
}
.image-samples img {
    width: 100%;
}

.test-image-container {
    display: flex;
    flex-wrap: wrap;
}

.test-image-container img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

.test-image-container img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}